* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.App {
  text-align: center;
  display: grid;
  grid-template: auto 10fr / auto 1fr;

  /* height: 100vh; */
  width: 100vw;
  min-width: 1097px;
  max-width: 1440px;
  height: 100vh;
}

/*************************************************HEADER***********************************************/

header {
  grid-column: 1 / 2;
  width: 100%;
  max-width: 1440px;

  position: -webkit- sticky;
  position: fixed;
  z-index: 100;
}

.navBar {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.navBar ul {
  list-style-type: none;
}

.navBar ul li {
  display: inline;
}

.leftNav li:first-child {
  padding: 0 50px 0 0;
}

.rightNav li:last-child {
  padding: 0 0 0 250px;
}

/*****************************************************MAIN*******************************************/

main {
  margin-top: 100px;
  margin-right: 240px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 900px;
  height: fit-content;
}

.landingPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
}

.intro {
  /* width: 80%; */
  /* position: fixed; */
  width: 100%;
  margin-bottom: 40px;
  overflow-wrap: break-word;
  position: relative;
}

.intro p {
  white-space: normal;
  width: 100%;
  position: fixed;

  overflow-wrap: break-word;
  overflow-wrap: break-all;
  text-align: left;
}

.jobs {
  position: relative;
  /*
  width: 100%;
  display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* justify-content: center; */
}

.company {
  background-color: grey;
  /* height: 200px; */
  width: 80%;

  margin: 10px;
  position: absolute;
  z-index: 10;
}

.a {
  margin: 90px 0 0 50px;
  background-color: red;

  width: 273px;
  height: 366px;
}

.b {
  background-color: blue;

  width: 289px;
  height: 289px;

  margin: 50px 0 0 350px;
}

.c {
  background-color: yellow;

  width: 332px;
  height: 332px;

  margin: 100px 0 0 750px;
}

.d {
  margin: 550px 0 0 0;

  width: 262px;
  height: 366px;
}

.e {
  margin: 370px 0 0 380px;

  width: 332px;
  height: 202px;
}

.f {
  margin: 500px 0 0 750px;

  width: 332px;
  height: 202px;
}

.g {
  margin: 950px 30px 0 50px;

  width: 332px;
  height: 332px;
}

.h {
  margin: 600px 0 0 350px;

  width: 332px;
  height: 332px;
}

.i {
  background-color: red;
  margin: 750px 0 0 710px;

  width: 332px;
  height: 332px;
}

.j {
  background-color: red;
  margin: 1330px 0 0 20px;

  width: 332px;
  height: 289px;
}

.k {
  background-color: red;
  margin: 1120px 0 0 430px;

  width: 332px;
  height: 202px;
}

.l {
  background-color: red;
  margin: 1170px 0 0 800px;

  width: 263px;
  height: 366px;
}

/**************************************************FOOTER**********************************************/
footer {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  /* position: fixed;
  right: 0;
  top: 100px; */
  width: 150px;
  height: 100%;
  position: relative;
  /* margin: 50% 0; */
}

.linkedin {
  display: block;
}

.email {
  display: block;
}

.info {
  position: fixed;

  margin: 200px 0 100px 0;
  /* transform: translateY(-50%); */
  width: 210px;
  height: 100%;
}
